# Large media files (hosted externally)
assets/christmas/sounds/lofi-christmas.mp3

Machine Catalog /index.html
Machine Catalog /package.json
Machine Catalog /README.md
Machine Catalog /assets/about-gold-circle-23095.svg:Zone.Identifier
Machine Catalog /assets/info.svg
Machine Catalog /assets/info33.svg
Machine Catalog /assets/profile-icon.png
Machine Catalog /assets/solidcam-logo.svg
Machine Catalog /src/data.js
Machine Catalog /src/firebase.js
Machine Catalog /src/main.js
Machine Catalog /src/storage.js
Machine Catalog /src/styles.css
Machine Catalog /src/ui.js
